/* RESET CSS */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


/* LAYOUT CLASS */
body {
    background-color: #083b4c;
}

h2 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 1000px;
    margin: 30px auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    color: black;
    border: 1px solid black;
}


/* SQUARE COLOR CLASS */
.number {
    background-color: #1389b2;
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzBuzz {
    background-color: #f0466f;
}


/* TITLE RESPONSIVE */
@media (max-width: 768px) {
    h2 {
        font-size: 40px;
    }
}